@font-face {
    font-family: "Leonardo";
    src: url(../assests/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}


/* Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Configurações Genéricas */

.leyout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    height: 60px;
    background-color: #F9003D;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {

    width: 600px;
    /* border: 3px solid black; */

    display: flex;
    justify-content: space-between;
    /* margin-right: 120px; */
    /* align-items: center; */
}

/* Centralizando os elemento junto do nav e separando elas */

header .header-flex {
    display: flex;
    justify-content: flex-end;
    /* align-items: stretch;

    height: 100%; */
}

header #menu-mobile {
    display: none;
}

header nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Leonardo";
    letter-spacing: 2px;
    text-shadow: 2px 2px 20px black;
    padding: 15px 20px;
    border-radius: 5px;
}

header nav a:hover {
    /* A configuração Hover é uma confuguração que anima o lugar quando o mause passa por cima*/
    text-shadow: 0px 0px 5px rgba(249, 0, 61, 0.3);
    background-color: white;
    color: #F9003D;
}

/* Custumizando e configurando o estilos de texto e escrita do site */



/* Main */

main {
    /* background-color: black; */
    /* height: 740px; */
}

main .banner {
    background-image: url(../assests/image/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 740px;

}

main #caixa {
    padding-top: 240px;
    margin-left: 120px;
    width: 545px;
    /* border: 2px solid green; */


}

main article #divisão {
    width: 545px;
    /* background-color: #FFAF00; */
    border: 1px solid #FFAF00;

}

main article h1 {
    color: white;
    font-size: 96px;
    font-family: "Leonardo";
    flex-direction: column;

}

main article h2 {
    color: #F9003D;
    font-family: "Courier New";
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 29px;
}

main article #mause {
    /* border: 2px solid green; */
    height: 80px;
    width: 80px;

    margin-top: 29px;

    background-image: url(../assests/image/mouse.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*** Sobre o projeto. ***/

main section {
    /* border: 2px solid green; */
    background-color: #080324;

    width: 100%;
    height: 760px;
}

main .section-flex {
    /* border: 3px solid white; */
    height: 617px;
    width: 1200px;

    padding-top: 64px;
}

main section .section-flex h1 {
    font-family: "Leonardo";
    font-size: 64px;
    color: #F9003D;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main section #imagem-prof {
    /* border: 2px solid yellow; */
    height: 476px;
    width: 491px;

    background-image: url(../assests/image/imagem-seção-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 64px;
}

main section #participantes {
    /* border: 2px solid green; */
    height: 617px;
    width: 607px;

    position: relative;
    top: -610px;
    right: -600px;

    padding-top: 120px;
    padding-left: 10;
}

main section h3 {
    font-family: 'Courier New';
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

main section #participantes h2 {
    font-family: "Leonardo";
    font-size: 64px;
    color: #FFAF00;
    text-transform: uppercase;
}

main section p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
}

main #dois {
    height: 223px;
    width: 100%;

    background-image: url(../assests/image/imagem-fundo-info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 35px;
}


main .info-flex {
    /* border: 2px solid green; */

    width: 1200px;
    height: 133px;

}

main .info-flex .local {
    /* border: 2px solid blue; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .info-flex .local .box {
    width: 289px;
    height: 100px;

    border: 2px solid #A259F7;

    display: flex;
    align-items: center;
    justify-content: center;

}

main .info-flex .local .box h2 {
    color: #A259F7;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

main .info-flex .local h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}

main #tres {
    width: 100%;
    height: 516px;

    background-image: url(../assests/image/imagem-fundo-endereco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 34px;
}

main #tres .adress-flex {
    /* border: blueviolet 2px solid; */

    /* display:flex;
    justify-content: center;
    align-items: center; */

}

main #tres #ajuste {
    /* border: magenta 4px solid; */

    position: relative;
    top: 10px;
    left: 150px;

}

main #tres h1 {
    color: #FFAF00;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Leonardo";
    font-size: 64px;
}

main #tres .map-flex {

    margin-top: 20px;

    height: 203px;
    width: 900px;
    border: #340b65 solid 2px;
    background-color: #010010;

    display: flex;
    align-items: center;

   padding-left: 5%;
}

main #Alameda{
  /* border: #F9003D 2px solid; */

  height: 101px;
  width: 423px;

}

main #Alameda p{
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main #mapinha{
    /* border: #F9003D solid 3px; */
    
    height: 249px;
    width: 309px;

    position: relative;
    top: -50px;
    right: -80px;

    background-image: url(../assests/image/mapa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Rodapé */



footer {
    height: 60px;

}

#copyright {
    background-color: #F9003D;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer #copyright p {

    color: white;
    font-size: 18;
    font-family: Open;
}






/* Smartphone >=0px ate 767px */
@media screen and (max-width: 767px) {

    .mostrarMenu {
        left: 0;
        opacity: 1;
    }

    header #menu-mobile {
        display: block;
    }

    header nav {
        position: fixed;
        top: 60px;
        left: -80vw;
        width: 80vw;
        background-color: #F9003D;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;

        transition: left 0.4s, opacity 0.6s;
    }

    /* main {
        display: none;
    }

    footer {
        display: none;
    } */
}